In [21]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

# import flight data from:
# https://www.kaggle.com/ramirobentes/flights-in-brazil
flightdata = pd.read_csv('BrFlights2.csv', encoding = "ISO-8859-1")

In [22]:
flightdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542519 entries, 0 to 2542518
Data columns (total 21 columns):
Voos                    object
Companhia.Aerea         object
Codigo.Tipo.Linha       object
Partida.Prevista        object
Partida.Real            object
Chegada.Prevista        object
Chegada.Real            object
Situacao.Voo            object
Codigo.Justificativa    object
Aeroporto.Origem        object
Cidade.Origem           object
Estado.Origem           object
Pais.Origem             object
Aeroporto.Destino       object
Cidade.Destino          object
Estado.Destino          object
Pais.Destino            object
LongDest                float64
LatDest                 float64
LongOrig                float64
LatOrig                 float64
dtypes: float64(4), object(17)
memory usage: 407.4+ MB

In [28]:
print(flightdata.columns)
print('---')
print('')

print(flightdata['Situacao.Voo'].unique())

Index(['Voos', 'Companhia.Aerea', 'Codigo.Tipo.Linha', 'Partida.Prevista',
       'Partida.Real', 'Chegada.Prevista', 'Chegada.Real', 'Situacao.Voo',
       'Codigo.Justificativa', 'Aeroporto.Origem', 'Cidade.Origem',
       'Estado.Origem', 'Pais.Origem', 'Aeroporto.Destino', 'Cidade.Destino',
       'Estado.Destino', 'Pais.Destino', 'LongDest', 'LatDest', 'LongOrig',
       'LatOrig'],
      dtype='object')
---

['Realizado' 'Cancelado']

In [11]:
flighttime = flightdata.loc[:,'Voos':'Situacao.Voo']

,Voos,Companhia.Aerea,Partida.Prevista,Partida.Real,Chegada.Prevista,Chegada.Real,Situacao.Voo
0,AAL - 203,AMERICAN AIRLINES INC,2016-01-30T08:58:00Z,2016-01-30T08:58:00Z,2016-01-30T10:35:00Z,2016-01-30T10:35:00Z,Realizado
1,AAL - 203,AMERICAN AIRLINES INC,2016-01-13T12:13:00Z,2016-01-13T12:13:00Z,2016-01-13T21:30:00Z,2016-01-13T21:30:00Z,Realizado
2,AAL - 203,AMERICAN AIRLINES INC,2016-01-29T12:13:00Z,2016-01-29T12:13:00Z,2016-01-29T21:30:00Z,2016-01-29T21:30:00Z,Realizado
3,AAL - 203,AMERICAN AIRLINES INC,2016-01-19T12:13:00Z,2016-01-18T12:03:00Z,2016-01-19T21:30:00Z,2016-01-18T20:41:00Z,Realizado
4,AAL - 203,AMERICAN AIRLINES INC,2016-01-30T12:13:00Z,2016-01-30T12:13:00Z,2016-01-30T21:30:00Z,2016-01-30T21:30:00Z,Realizado