In [31]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

data = pd.read_csv("intersectionLocSN.csv")


accidents = data.iloc[0:8070 , 6:10]
accidents.head()

accidents.plot(kind='scatter', x='Intersection Type', y='2012 accidents',secondary_y=True, ax=axs[0], figsize=(16, 8))

   2012 accidents  2013 accidents  2014 accidents  2015 accidents
0               2               0               0               0
1               1               0               0               0
2               1               0               0               0
3               1               0               0               0
4               4               0               0               0