Source: https://www.kaggle.com/datagov/usa-names/data
<br>Example Code from: https://www.kaggle.com/diamazov/unique-generation-names

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly as plo
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [5]:
names = pd.read_csv('../data/usnames/names_per_year.csv')
del names['Unnamed: 0']

In [6]:
names.head()

   year gender name  year_total
0  1921      F   Ah           5
1  1915      F   Ah           5
2  2000      F   Ai           5
3  2002      F   Ai           7
4  1995      F   Ai           5

In [7]:
names['len'] = names['name'].apply(lambda x: len(x))

In [9]:
def vowelcheck(value):
    string=value
    vowels=0
    for i in string:
          if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
                vowels=vowels+1
    return vowels/len(string)

In [10]:
names['vowelp'] = names['name'].apply(vowelcheck)

In [11]:
names.head()

   year gender name  year_total  len  vowelp
0  1921      F   Ah           5    2     0.5
1  1915      F   Ah           5    2     0.5
2  2000      F   Ai           5    2     1.0
3  2002      F   Ai           7    2     1.0
4  1995      F   Ai           5    2     1.0

In [44]:
namcheck = names.copy()
namcheck.gender = namcheck['gender'].apply(lambda val: 1 if val == 'F' else 0)
del namcheck['name']
del namcheck['year_total']

In [45]:
namcheck.groupby(['year','gender']).mean().add_suffix('_avg').reset_index()

     year  gender   len_avg  vowelp_avg
0    1910       0  5.776012    0.388740
1    1910       1  5.930748    0.473171
2    1911       0  5.790451    0.390218
3    1911       1  5.964353    0.471266
4    1912       0  5.805206    0.390134
5    1912       1  5.994449    0.472529
6    1913       0  5.874204    0.392878
7    1913       1  6.035556    0.471440
8    1914       0  5.890228    0.396882
9    1914       1  6.087799    0.467497
10   1915       0  5.889080    0.397053
11   1915       1  6.071035    0.467107
12   1916       0  5.897436    0.398308
13   1916       1  6.069002    0.467392
14   1917       0  5.915847    0.396510
15   1917       1  6.124412    0.465584
16   1918       0  5.902296    0.398853
17   1918       1  6.104923    0.464493
18   1919       0  5.936203    0.397236
19   1919       1  6.120180    0.465082
20   1920       0  5.943491    0.399220
21   1920       1  6.132389    0.466496
22   1921       0  5.938235    0.398814
23   1921       1  6.157869    0.464168
24   1922       0  5.952686    0.401104
25   1922       1  6.134371    0.466648
26   1923       0  5.975659    0.399635
27   1923       1  6.151530    0.463228
28   1924       0  5.976202    0.400626
29   1924       1  6.159059    0.465290
..    ...     ...       ...         ...
186  2003       0  5.968781    0.404608
187  2003       1  6.139713    0.443362
188  2004       0  5.962008    0.406613
189  2004       1  6.138894    0.441510
190  2005       0  5.960427    0.403841
191  2005       1  6.144587    0.443984
192  2006       0  5.962954    0.403928
193  2006       1  6.145671    0.443884
194  2007       0  5.952360    0.404312
195  2007       1  6.148007    0.443317
196  2008       0  5.931993    0.403506
197  2008       1  6.155878    0.442025
198  2009       0  5.917905    0.401798
199  2009       1  6.140260    0.442488
200  2010       0  5.917668    0.399943
201  2010       1  6.140770    0.441378
202  2011       0  5.890073    0.400037
203  2011       1  6.161597    0.440791
204  2012       0  5.874142    0.400650
205  2012       1  6.145671    0.441630
206  2013       0  5.860476    0.400632
207  2013       1  6.144325    0.442341
208  2014       0  5.839310    0.400904
209  2014       1  6.145953    0.442823
210  2015       0  5.851827    0.401902
211  2015       1  6.121733    0.443613
212  2016       0  5.831526    0.402522
213  2016       1  6.097830    0.445379
214  2017       0  5.801770    0.404551
215  2017       1  6.093791    0.445931

[216 rows x 4 columns]

In [ ]:
# Sample data to play with.
features = features.sample(frac=1.0)

y = features['propcrime'].values.reshape(-1, 1)
X = features[['pop','pop2','rape2','theft','burglary']]

print(np.shape(y))
print(np.shape(X))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)