Source: https://www.kaggle.com/datagov/usa-names/data
<br>Example Code from: https://www.kaggle.com/diamazov/unique-generation-names

In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly as plo
import seaborn as sns

In [63]:
names = pd.read_csv('../data/usnames/names_per_year.csv')
del names['Unnamed: 0']

In [64]:
names.head()

   year gender name  year_total
0  1921      F   Ah           5
1  1915      F   Ah           5
2  2000      F   Ai           5
3  2002      F   Ai           7
4  1995      F   Ai           5

In [66]:
names['len'] = names['name'].apply(lambda x: len(x))

In [70]:
names

        year gender             name  year_total  len
0       1921      F               Ah           5    2
1       1915      F               Ah           5    2
2       2000      F               Ai           5    2
3       2002      F               Ai           7    2
4       1995      F               Ai           5    2
5       1980      F               Ai           6    2
6       2004      F               Ai           6    2
7       2009      F               Ai           5    2
8       1971      F               Al           5    2
9       1998      F               An          11    2
10      1999      F               An          13    2
11      2014      F               An          14    2
12      2006      F               An           5    2
13      1983      F               An          10    2
14      1985      F               An           6    2
15      2017      F               An           7    2
16      2003      F               An           7    2
17      1994      F               An          12    2
18      1982      F               An           6    2
19      1984      F               An          10    2
20      2002      F               An          10    2
21      2001      F               An          13    2
22      1996      F               An           9    2
23      2000      F               An           8    2
24      1993      F               An          19    2
25      1992      F               An          17    2
26      1995      F               An           9    2
27      1988      F               An          13    2
28      2011      F               An          15    2
29      1987      F               An          18    2
...      ...    ...              ...         ...  ...
613815  1996      M   Michaelanthony          17   14
613816  1990      M   Michaelanthony          10   14
613817  1987      M   Michaelanthony           8   14
613818  1998      M   Michaelanthony          10   14
613819  1991      M   Michaelanthony          11   14
613820  2007      M   Michaelanthony           5   14
613821  1992      M   Michaelanthony           5   14
613822  1999      M   Michaelanthony          13   14
613823  1986      M   Michaelanthony           9   14
613824  1988      M   Michaelanthony           8   14
613825  1997      M   Michaelanthony           9   14
613826  2000      M   Michaelanthony           6   14
613827  1993      M   Michaelanthony          12   14
613828  1992      M   Michaelvincent           6   14
613829  1989      M   Michaelvincent           6   14
613830  2005      M   Oluwatimilehin           5   14
613831  2015      M   Oluwatimilehin           6   14
613832  2013      M   Oluwatimilehin           5   14
613833  1998      M  Franciscojavier           6   15
613834  1996      M  Franciscojavier           8   15
613835  1991      M  Franciscojavier           6   15
613836  1989      M  Franciscojavier           6   15
613837  1987      M  Franciscojavier           5   15
613838  2000      M  Franciscojavier           6   15
613839  1988      M  Franciscojavier          10   15
613840  1997      M  Franciscojavier           5   15
613841  1993      M  Johnchristopher           5   15
613842  1997      M  Ryanchristopher           5   15
613843  1991      M  Ryanchristopher           7   15
613844  1993      M  Ryanchristopher           5   15

[613845 rows x 5 columns]

In [152]:
yr2016 = names.groupby(names.year).mean()
yr2017 = names.loc[names['year'] == 2017].groupby(names.year).mean()

ValueError: Grouper for '<class 'pandas.core.frame.DataFrame'>' not 1-dimensional

In [150]:
yr2016

      year_total       len
year
1910  277.965070  5.870423
1911  310.891209  5.892308
1912  373.895158  5.905684
1913  394.697237  5.957790
1914  425.023332  5.990799
1915  475.257593  5.982002
1916  485.731648  5.985318
1917  495.777184  6.022442
1918  518.371267  6.007209
1919  498.043057  6.029809
1920  521.494912  6.039464
1921  526.417313  6.049224
1922  512.601446  6.045542
1923  526.999754  6.066191
1924  535.698213  6.070014
1925  532.725110  6.057136
1926  528.939866  6.072754
1927  537.035297  6.059906
1928  535.384185  6.087211
1929  532.318206  6.069118
1930  549.943441  6.073553
1931  539.447412  6.041575
1932  537.974261  6.030942
1933  530.242295  6.065925
1934  547.770255  6.046176
1935  549.903417  6.035866
1936  565.220957  6.031816
1937  578.937063  6.032634
1938  604.293602  6.047911
1939  601.655374  6.042348
...          ...       ...
1988  453.382632  6.148982
1989  430.410031  6.177585
1990  425.150775  6.174374
1991  416.538169  6.172889
1992  405.485041  6.165018
1993  392.293144  6.158232
1994  387.268118  6.162159
1995  386.917133  6.150494
1996  383.038475  6.128013
1997  380.488682  6.144389
1998  376.039348  6.126659
1999  369.225711  6.106062
2000  359.555277  6.094418
2001  353.211470  6.087759
2002  346.934340  6.080656
2003  343.968322  6.067015
2004  329.693747  6.063432
2005  333.391370  6.066237
2006  332.023411  6.068371
2007  324.656779  6.064841
2008  318.913662  6.061343
2009  308.027802  6.044844
2010  305.092011  6.044588
2011  302.393705  6.044126
2012  303.260805  6.028847
2013  305.363645  6.022337
2014  308.314889  6.013170
2015  309.510685  6.004056
2016  313.416810  5.980837
2017  308.666082  5.964389

[108 rows x 2 columns]

In [ ]:
check