Data Source: http://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/heart-disease.names

In [51]:
import pandas as pd
import matplotlib as plt
import numpy as np
import csv
import seaborn as sns

In [72]:
with open('../data/cleveland.data',encoding = "ISO-8859-1") as input_file:
   lines = input_file.readlines()
   newLines = []
   for line in lines:
      newLine = line.strip().split()
      newLines.append(newLine)

heartdata = [] 
while len(newLines) > 0:
    heartrow = [] 
    for sublist in newLines[0:10]:
        for item in sublist:
            heartrow.append(item)  
        del newLines[0:10]
    heartrow.append('cleveland')
    heartdata.append(heartrow)

In [65]:
colnames=['id','ccf','age','sex','painloc','painexer','relrest','pncaden','cp','trestbps','htn','chol','smoke',
              'cigs','years','fbs','dm','famhist','restecg','ekgmo','ekgday','ekgyr','dig','prop','nitr','pro',
              'diuretic','proto','thaldur', 'thaltime','met','thalach','thalrest','tpeakbps','tpeakbpd','dummy',
              'trestbpd', 'exang','xhypo','oldpeak', 'slope', 'rldv5','rldv5e','ca','restckm','exerckm','restef',
              'restwm', 'exeref','exerwm','thal','thalsev','thalpul','earlobe','cmo', 'cday', 'cyr','num','lmt',
              'ladprox','laddist','diag','cxmain','ramus','om1','om2','rcaprox','rcadist','lvx1','lvx2','lvx3','lvx4',
              'lvf','cathef','junk','name']

In [66]:
dfHeart = pd.DataFrame(data=heartdata,columns=colnames)

In [71]:
dfHeart

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk,name,location
0,1,0,63,1,-9,-9,-9,-9,1,145,...,1,1,1,1,1,1,-9,-9,name,cleveland
1,12,0,57,1,-9,-9,-9,-9,4,140,...,1,1,1,1,1,1,-9,-9,name,cleveland
2,22,0,64,1,-9,-9,-9,-9,1,110,...,1,1,1,1,1,1,-9,-9,name,cleveland
3,32,0,69,0,-9,-9,-9,-9,1,140,...,1,1,1,1,1,1,-9,-9,name,cleveland
4,45,0,65,0,-9,-9,-9,-9,4,150,...,1,1,1,1,1,1,-9,-9,name,cleveland
5,55,0,41,0,-9,-9,-9,-9,2,105,...,1,1,1,1,1,1,-9,-9,name,cleveland
6,65,0,51,0,-9,-9,-9,-9,4,130,...,1,1,1,1,1,1,-9,-9,name,cleveland
7,75,0,65,0,-9,-9,-9,-9,3,155,...,1,1,1,1,1,1,-9,-9,name,cleveland
8,86,0,45,1,-9,-9,-9,-9,4,104,...,1,1,1,1,1,1,-9,-9,name,cleveland
9,96,0,66,1,-9,-9,-9,-9,4,120,...,1,1,1,1,1,1,-9,-9,name,cleveland
10,106,0,45,1,-9,-9,-9,-9,4,115,...,1,1,1,1,1,1,-9,-9,name,cleveland
11,118,0,61,0,-9,-9,-9,-9,4,145,...,1,1,1,1,1,1,-9,-9,name,cleveland
12,130,0,48,1,-9,-9,-9,-9,4,130,...,2,1,1,1,1,1,-9,-9,name,cleveland
13,141,0,54,1,-9,-9,-9,-9,3,120,...,1,1,1,1,1,1,-9,-9,name,cleveland
14,151,0,59,1,-9,-9,-9,-9,2,140,...,1,1,1,1,1,1,-9,-9,name,cleveland
15,165,0,52,1,-9,-9,-9,-9,1,152,...,1,1,1,1,1,1,-9,-9,name,cleveland
16,175,0,46,1,-9,-9,-9,-9,2,101,...,1,1,1,1,1,1,-9,-9,name,cleveland
17,186,0,70,1,-9,-9,-9,-9,3,160,...,2,1,1,1,3,2,-9,-9,name,cleveland
18,196,0,48,1,-9,-9,-9,-9,4,124,...,1,1,1,1,1,1,-9,-9,name,cleveland
19,207,0,50,1,-9,-9,-9,-9,3,129,...,1,1,1,1,1,1,-9,-9,name,cleveland
20,217,0,50,0,-9,-9,-9,-9,4,110,...,1,1,1,1,1,1,-9,-9,name,cleveland
21,227,0,37,0,-9,-9,-9,-9,3,120,...,1,1,1,1,1,1,-9,-9,name,cleveland
22,237,0,41,0,-9,-9,-9,-9,3,112,...,1,1,1,1,1,1,-9,-9,name,cleveland
23,247,0,52,0,-9,-9,-9,-9,3,136,...,1,1,1,1,1,1,-9,-9,name,cleveland
24,257,0,41,1,-9,-9,-9,-9,2,110,...,1,1,1,1,1,1,-9,-9,name,cleveland
25,267,0,57,1,-9,-9,-9,-9,4,110,...,1,1,1,1,1,1,-9,-9,name,cleveland
26,277,0,44,0,-9,-9,-9,-9,3,118,...,1,1,1,1,1,1,-9,-9,name,cleveland
27,287,0,61,1,-9,-9,-9,-9,4,140,...,1,1,1,1,1,1,-9,-9,name,cleveland
28,297,0,57,1,-9,-9,-9,-9,4,110,...,2,1,1,1,1,1,-9,-9,name,cleveland
29,117,1174,0,13,12,4,11,-9,-9,-9,...,None,None,None,None,None,None,None,None,None,None